*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: cloud;
  background-color: #ffffff;
}
@font-face{
	font-family: cloud;
	src: url(../fonts/cloud-light.otf);
}
@font-face{
  font-family: eng;
  src: url(../fonts/Aileron-Bold.otf);
}
@font-face{
  font-family: thai;
  src: url(../fonts/psl105.ttf);
}
@font-face{
  font-family: thaichalk;
  src: url(../fonts/2548_d1n.ttf);
}
@font-face{
  font-family: engchalk;
  src: url(../fonts/CFMarieEve.ttf);
}
/* For the "inset" look only */
html {
    overflow: auto;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

.parallax {
  /* The image used */
  background-image: url(../../pic/bookshelf1.jpg);

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#board
{
  background: url(../../pic/bgbackground.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
	margin: 0;
	padding: 0;
}

.navbar {
    z-index: 1;
    background: transparent;
    border: none;
    font-family: thai;
    transition: 0.5s;
}
#navbar-color{
  color: #FFF;
}
.top-nav-collapse {
    background-color: #f6f6f6;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background: #f6f6f6;
    }
}