*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: cloud;
  background-color: #ffffff;
}
@font-face{
	font-family: cloud;
	src: url(../fonts/cloud-light.otf);
}
@font-face{
  font-family: eng;
  src: url(../fonts/Aileron-Bold.otf);
}
@font-face{
  font-family: thai;
  src: url(../fonts/psl105.ttf);
}
@font-face{
  font-family: thaichalk;
  src: url(../fonts/2548_d1n.ttf);
}
@font-face{
  font-family: engchalk;
  src: url(../fonts/CFMarieEve.ttf);
}
/* For the "inset" look only */
html {
    overflow: auto;
}

.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

#board
{
  /* The image used */
  background-image: url("../../pic/bgbackground.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#turn{
  /* The image used */
  background-image: url("../../pic/pork.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
    z-index: 1;
    background: transparent;
    border: none;
    font-family: thai;
    transition: 0.5s;
}
#navbar-color{
  color: #FFF;
}
.top-nav-collapse {
    background-color: #f6f6f6;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background: #f6f6f6;
    }
}
#modal_thai{
  font-family: thai;
  font-size: 48px;
  text-decoration: none;
  color: #888;
  transition: 0.3s;
}


.row-ui
{
	margin-top: 30px;
}
.top_hover{
	transition: .3s;
}
.top_hover:hover{
	margin-top: -2px;
}


}
#loginModal{
	margin-top: 5rem;
}
.bg-grey {
    background-color: #f6f6f6;
 }

#modal_thai:hover{
  color: #FFF;
  text-decoration: none;
}

#canvas{
  width: 100%;
}

.book {
   padding: 15px 0 0 0;
   margin: auto;
  }
  a:before { /* Just to give a little puddle of a shadow without adding another element */
   content: '';
      display: block;
      width: 80%;
      height: 1em;
      background: rgba(0,0,0,.35);
      border-radius: 50%;
      position: absolute;
      bottom:-10px;
      -webkit-filter: blur(5px);
      filter: blur(5px);
      z-index:-5;
  }
  .shelf {
   border-bottom: 30px solid #a5a5a5;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
   top: -15px;
   z-index: -10;
  }
  /*Example adding pseudo element to give shelf depth*/
  .shelf:after {
   content: '';
   background: #686868;
   height: 20px;
   width: calc(100% + 40px); /*IE9+*/
   position: absolute;
   top: 30px;
   left: 0;
   right: 0;
   z-index: 1;
   margin: 0 -20px;
  }